th,
td {
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-bottom: var(--border-width) solid var(--table-border-color);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  text-align: left;
  text-align: start;
}

// Footer
tfoot {
  th,
  td {
    border-top: var(--border-width) solid var(--table-border-color);
    border-bottom: 0;
  }
}

// Striped
table {
  &[role="grid"] {
    tbody tr:nth-child(odd) {
      background-color: var(--table-row-stripped-background-color);
    }
  }
}
